ul {
    float:"right";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    position: sticky;
  }
  
  li {
    border-right: 1px solid #bbb;
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #333;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: beige;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  header{
    background-image: url("https://thumbs.dreamstime.com/b/header-laptop-stationery-yellow-background-header-laptop-stationery-yellow-background-online-education-227485945.jpg");
    background-size: cover;
    position: relative;
    padding: 80px;
    text-align: center;
  }

  .h1{
    color: white;
    font-size: 40px;
  }

  div > li{
    float: right;

  }

  hr{
    border-color: #cfe2f3;
  }

  .article{
    background-color: rgb(22, 117, 123);
    font-size: 25px;
    color: #cfe2f3;
    padding: 20px;
    text-align: center;
  }

  p > a{
    color: #cfe2f3;
  }

  a:hover{
    color: yellowgreen;  
  }

  .article1 > img{
    float: left;
    width: 650px;
    height: 350px;
  }
  .article1 > h2{
    text-align: left;
    padding: 20px;
    padding-left: 48%;
  }

  .article1 > p{
    text-align: justify;
    padding: 20px;
    padding-left: 48%;
    
    
  }

  .article2 > img{
    float: right;
    width: 575px;
    height: 356px;
  }
  .article2 > h2{
    text-align: left;
    padding-left: 2%;
  }

  .article2 > p{
    text-align: justify;
    padding: 20px;
    padding-left: 2%;
    padding-right: 35%;
    
    
  }

  .article3 > img{
    float: left;
    padding-left: 5%;
    width: 483px;
    height: 600px;
  }
  .article3 > h2{
    text-align: left;
    padding: 20px;
    padding-left: 40%;
  }

  .article3 > p{
    text-align: justify;
    padding: 20px;
    padding-left: 40%;
    
    
  }

  
  /*.article4 > img{
    float: right;
    width: 500px;
    height: 600px;
    padding-right: 2%;
    width: 100%;
  }*/

  .article4 > h2{
    text-align: left;
    padding-left: 2%;
  }

  .article4 > p{
    text-align: justify;
    padding: 20px;
    padding-left: 2%;
    padding-right: 38%;
    
    
  }

  .libera{
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  /*--------------CAROSELLO-------------*/

  * {
    box-sizing: border-box}
  .slide2 {
    display:flex ;
  }
  img {
    float: right;
    vertical-align: middle;
    width:100%;

  }
  .carosello {
    float: right;
    width: 500px;
    height: 600px;
    position: relative;
    margin: auto;

  }
  .prec, .succ {
    cursor: pointer;
    user-select:none;
    position: absolute;
    top: 50%;
    width: 40px;
    height:40px;
    border:2px solid #DDDDDD;
    color: rgb(45,45,45);
    font-size: 18px;
    transition: 0.5s ease;
    border-radius:50%;
    text-align: center;
    line-height: 38px;
  }
  .succ {
    right: 0;
  }
  .prec:hover, .succ:hover {
    background-color: #DDDDDD;
    color: black;
  }

  /*--------------CAROSELLO-------------*/

